body {
  font-family: "sf pro display", Helvetica, sans-serif;
  font-weight: 600; 
  display: flex;
  justify-content: center;
  align-items: center;

  --easeIn: cubic-bezier(0.9, 0.025, 0.75, 0.625);
  --easeOut: cubic-bezier(0.25, 0.375, 0.1, 0.975);
  --easeInOut: cubic-bezier(0.66, 0.025, 0.33, 0.975);
  --instant: 85ms;
  --short: 250ms;
  --medium: 420ms;
  --semilong: 500ms;
  --long: 800ms;
}

* { box-sizing: border-box; }

/*.app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

}
*/

.navBar {
  width: 100%;
/*  height: 80px;
*/background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  padding: 16px;

}

.navIcon {
  padding: 12px;
  cursor: pointer;
}

.navItem {
  font-size: 16;
  padding: 14.5px 16px 14.5px 16px;
  margin: 0;

}

.navSearch {
  font-size: 16px;
  color: #767676;
  font-weight: 400;
  background-color: #efefef;
  padding: 14px 16px 14px;
  border-radius: 24px;
  flex-grow: 2;
  margin-left: 8px;
  margin-right: 8px;
}



.grid {
  width: 1496px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 88px;
}

.grid:after {
  display: block;
  content: '';
  clear: both;
}

.grid-col {
  width: 236px;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  /* margin-right: 2%; */
}

.grid-col--6 { 
  margin-right: 0;
}


.grid-item {
  background: #efefef;
  margin-bottom: 16px;
  border-radius: 16px;
  cursor: pointer;
}

.grid-item--a { 
  height:  236px; 
}

.grid-item--b { 
  height: 394px; 
}

.grid-item--c { 
  height: 360px; 
}



.modal {
  width: 248px;
  left: 32px;
  bottom: 32px;
  border-radius: 16px;
  overflow: hidden;
  position: fixed;
  background-color: #ffffff; 
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  /* flex-wrap: wrap; */

}

.modal-collapsed {
  width: 100%;
  height: 100%;
  background-color: #007cff;
  transition: var(--instant) var(--easeInOut);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
}


.masonry-bg {
  /* position: absolute; */
  width: 100%;
  height: 136px;
  background-color: #007cff;
  border-radius: 16px 16px 0px 0px;
  
}

/* .hide {
  height: 0;
  transition: var(--short) var(--easeInOut);
} */

.masonry { /* Masonry container */
  column-count: 5;
  column-gap: 4px;
  width: 120%;
  height: 120%;
  margin-top: -10%;
  margin-left: -10%;

}


.item { /* Masonry bricks or child elements */
  margin-bottom: 4px;
  border-radius: 8px; 
  border: 1px solid #ffffff; 
  height: 80px;

}

.item-medium {
  height: 72px;
}

.item-short {
  height: 64px;
}

.modal-text {
  text-align: center;
  color: black;
  font-size: 16px;
  padding: 0px 16px 0px 16px;
  font-weight: 500;
  margin-top: 16px 0px 16px 0px;
  /* margin-top: 16px; */
}

.modal-text-collapsed {
  color: #ffff; 
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  width: 90%;
  position: relative;
  /* border: 1px solid tomato; */
  height: 2.3em;
  /* border: 1px solid tomato; */
}

.button {
  padding: 14.5px 16px 16px 14.5px;
  border-radius: 24px;
  background-color: #efefef;
  font-size: 16px;
  font-weight: 500;
  margin: 0px 0px 16px 0px;
  cursor: pointer;

}


/*CLOSEUP*/

.back {
  position: fixed;
  top: 104px;
  left: 20px;
  cursor:pointer;
}

.closeupContainer {
  width: 1016px;
  height: 40em;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  margin-top: 96px;
/*  display: flex;
  flex-direction: row;*/
}

.closeupImage {
/*  background-image: url("assets/img/pin23.jpg");*/
  background-size: cover;
  background-position: center center;
  border: 1px solid tomato;
  width: 50%;
  height: 100%;
  border-radius: 32px 0px 0px 32px;
  z-index: 30000;

}

.closeupContent {
  width: 50%;

}



@keyframes clicking {
  0%{transform: rotate(10deg) translate3d(15px, 0, 0)  }
  60%{transform: rotate(-10deg) translate3d(-15px, 0, 0) scale(.8) }
  100% {transform: rotate(-10deg) translate3d(-15px, 0, 0) scale(.8) }
}

@keyframes clicked {
  0%{background: rgba(0,0,0,0) }
  30% {background: #ffffff; transform: scale(1.3)}
  50% {background: #ffffff; transform:scale(1.3)}
  /* 51% {transform: scale(1.2)} */
  80% {background: #ffffff; transform: scale(1.3)}
  /* 90% {background: rgba(0,0,0,0)} */
  /* 80%{background: #ffffff} */
  100%{background: rgba(0,0,0,0) }
}

@keyframes fade {
  0%, 45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/* @media ( min-width: 1260px ) {
  .grid-col--4 { display: block; }
}



@media ( min-width: 1260px ) {
  .grid-col--5 { display: block; }
}


@media ( min-width: 1496px ) {
  .grid-col--6 { display: block; }
} */